<h3>{{title}}</h3>

{{#svg-container}}
  {{#each shape in shapes}}
    {{svg-display shape=shape}}
  {{/each}}
{{/svg-container}}

{{#each shapes}}
  <div>
    <h3>Shape</h3>
    <pre>
      X: {{input type="number" value=x}}
      Y: {{input type="number" value=y}}
      Width: {{input type="number" value=width}}
      Height: {{input type="number" value=height}}
      Fill: {{input value=fill}}
    </pre>
  </div>
{{/each}}
