<h3>{{title}}</h3>

{{#svg-container}}
  {{#each model.shapes as |shape|}}
    {{svg-display shape=shape}}
  {{/each}}
{{/svg-container}}

<div>
  <button {{action 'addShape' 'rectangle'}}>&#x25A0;</button>
  <button {{action 'addShape' 'triangle'}}>&#x25B2;</button>
</div>

{{#each model.shapes as |shape|}}
  {{shape-editor shape=shape}}
{{/each}}
