<h3>{{title}}</h3>

{{#svg-container}}
  {{#each shapes}}
    {{svg-rect width=width height=height x=x y=y fill=fill}}
  {{/each}}
{{/svg-container}}

{{#each shapes}}
  <pre>
    X: {{x}}
    Y: {{y}}
    Width: {{width}}
    Height: {{height}}
    Fill: {{fill}}
  </pre>
{{/each}}
