<h3>{{title}}</h3>

{{#svg-container}}
  {{#each model.shapes as |shape|}}
    {{svg-display shape=shape}}
  {{/each}}
{{/svg-container}}

{{#each model.shapes as |shape|}}
  <div>
    <h3>Shape</h3>
    <pre>
      X: {{input type="number" value=shape.x}}
      Y: {{input type="number" value=shape.y}}
      Width: {{input type="number" value=shape.width}}
      Height: {{input type="number" value=shape.height}}
      Fill: {{input value=shape.fill}}
    </pre>
  </div>
{{/each}}
